<h1>Sign In to idea factory</h1>

<div>
<%flash.each do |type, message|%>
<p><%=message%></p>
<%end%>

<%=form_with url: session_path, local:true do |f|%>
<div>
    <%=f.label :email%>
    <%=f.email_field :email%>
</div>
<div>
    <%=f.label :password%>
    <%=f.password_field :password%>
</div>
<%=f.submit 'Submit'%>
<%end%>
<%=link_to 'Be an idea factory contributer!', new_user_path%>
