<h1>Get a fresh idea!!</h1>

<nav>
    <%=link_to 'Home', root_path%>
    <% if current_user%>
    <p>Welcome back, <%=current_user.first_name%>!</p>
    <%=link_to 'Have an Idea?', new_idea_path%>
    <%=link_to 'Sign Out', session_path, method: :delete%>
    <%else%>
    <%=link_to 'Sign In', new_session_path%>
    <%end%>
</nav>

<% flash.each do |type, message| %>
<div class="flash flash-<%= type %>">
    <%= message%>
</div>
<%end%>

<%@ideas.each do |idea|%>
<div>
    <h3><%=link_to idea.title, idea%></h3>
    <p><%=idea.description%></p>
    <ul>
        <li>By: <%=idea.user.first_name%></li>
        <li>Likes: <%=idea.likers.count%></li>
    </ul>
</div>
<%end%>