<h1>Write a new idea</h1>

<%if @idea.errors.any?%>
<p>Wait!!</p>
<%@idea.errors.full_messages.each do |error|%>
<p><%=error%></p>
<%end%>
<%end%>

<%=form_with model: @idea, local: true do |f|%>
<div>
<%=f.label :title%>
<%=f.text_field :title%>
</div>
<div>
<%=f.label :description%>
<%=f.text_field :description%>
</div>
<%=f.submit 'Send to idea factory!'%>
<%end%>
