<!DOCTYPE html>
<html>
  <head>
    <title>IdeaFactory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav>
    <%=link_to 'Home', root_path%>
    <% if current_user%>
    <p>Welcome back, <%=current_user.first_name%>!</p>
    <%=link_to 'Have an Idea?', new_idea_path%>
    <%=link_to 'Sign Out', session_path, method: :delete%>
    <%else%>
    <%=link_to 'Sign In', new_session_path%>
    <%end%>
</nav>

<% flash.each do |type, message| %>
<div class="flash flash-<%= type %>">
    <%= message%>
</div>
<%end%>
    <%= yield %>
  </body>
</html>
